body{
  background-color: #e4f7e4 ;
}
img{
  height: 190px;
  width: 150px;
}

.button {
  border-radius: 8px;
  background-color: #AD8F4F;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

#game{
  display: none;
  text-align: center;
}
#instructions{
  padding-left: 400px;
  font-family: 'Metamorphous', cursive;
}

#header {
    background-color: #FFFFFF;
    font-family: 'Metamorphous Inline', cursive;
    font-size: 70px;
    margin-bottom:0px;
    height: 300px;
    text-align: center;
}

#player1 {
    font-size: 20px;
    padding-left: 40px;
    padding-top: 50px;
    font-family: 'Metamorphous', cursive;
    height: 300px;
    border-right: 1px solid #937638  ;
}

#player1 p {
    padding-bottom: 20px;
}

#player1score {
    margin-bottom: 10px;
}

#roll {
    margin-right: 20px;
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
}
#hold{
  margin-right: 20px;
  background-color: green;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
}

#board{
  padding-left: 40px;
  padding-top: 50px;
  font-family: 'Metamorphous', cursive;
  font-size: 40px;
}
#player2 {
    font-size: 20px;
    padding-left: 40px;
    padding-top: 50px;
    font-family: 'Metamorphous', cursive;
    background-color:#e4f7e4  ;
    height: 300px;
    border-left:  1px solid #937638  ;
}
#player2 p {
    padding-bottom: 0px;
}
